@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  overscroll-behavior-y: none;
}

#__next { height: 100%; }

* { -webkit-tap-highlight-color: transparent; }

.no-select { user-select: none; -webkit-user-select: none; }
